In [1]:
import numpy as np
import pandas as pd

In [10]:
# 生成三行四列的随机数
t = pd.DataFrame(np.random.randint(1,10,size=(3,4)),columns=['A','B','C','D']) #生成一个DataFrame
print(t)
print(type(t))

   A  B  C  D
0  2  3  3  8
1  1  4  3  4
2  9  8  5  6
<class 'pandas.core.frame.DataFrame'>

In [9]:
# 生成三行四列的随机数 生成一个Series
array = np.random.randn(3,4)
print(array)
print(type(array))

[[ 2.57367457  0.28174174 -0.27643763 -0.68553431]
 [-0.92048193 -1.00515187 -0.59520362  0.7453294 ]
 [ 0.78684167 -0.05306398 -0.37479235 -0.97068922]]
<class 'numpy.ndarray'>

In [11]:
df_obj = pd.DataFrame(array)
print(df_obj.head())

          0         1         2         3
0  2.573675  0.281742 -0.276438 -0.685534
1 -0.920482 -1.005152 -0.595204  0.745329
2  0.786842 -0.053064 -0.374792 -0.970689

In [17]:
dict_data = {'A': 1,  # 单个标量，广播到整个列
    'B': pd.Timestamp('20190926'),  # 单个时间戳，广播到整个列
    'C': pd.Series(1, index=list(range(4)), dtype='float32'),  # 长度为4的Series
    'D': np.array([3] * 4, dtype='int32'),  # 长度为4的numpy数组
    'E': ["Python", "Java", "C++", "C"],  # 长度为4的列表
    'F': 'wangdao' } # 单个字符串，广播到整个列
print(dict_data)

{'A': 1, 'B': Timestamp('2019-09-26 00:00:00'), 'C': 0    1.0
1    1.0
2    1.0
3    1.0
dtype: float32, 'D': array([3, 3, 3, 3]), 'E': ['Python', 'Java', 'C++', 'C'], 'F': 'wangdao'}

In [15]:
df_obj2 = pd.DataFrame(dict_data) # DataFrame
print(df_obj2)

   A          B    C  D       E        F
0  1 2019-09-26  1.0  3  Python  wangdao
1  1 2019-09-26  1.0  3    Java  wangdao
2  1 2019-09-26  1.0  3     C++  wangdao
3  1 2019-09-26  1.0  3       C  wangdao

In [23]:
d1={"name":["xiaoming","xiaogang"],
    "age":[20,32],
    "tel":[10086,10010]}
print(pd.DataFrame(d1))
print("====================================")
d2 =[{"name" : "xiaohong" ,"age" :32,"tel" :10010},
     { "name":"xiaogang" ,"tel": 10000} ,
     {"name":"xiaowang" ,"age":22}]
print(pd.DataFrame(d2))

       name  age    tel
0  xiaoming   20  10086
1  xiaogang   32  10010
====================================
       name   age      tel
0  xiaohong  32.0  10010.0
1  xiaogang   NaN  10000.0
2  xiaowang  22.0      NaN